
div{
    height: 100px;
    width: 100px;
    background-color: cornflowerblue;
    border-radius: 2px;
    /* padding-left : 25px;
    padding-top: 25px; */
    /* padding : 25px; */
    padding : 25px 10px 25px 35px;

}

h1{
    text-align: center;
    width: 200px;
    height: 50px;
    background-color: coral;
    border-width: 2px;
    border-style: double;

}
p{
    font-size:30px;
}

