*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.container{
    width: 100%;
    height: 100%;
    background: #82e2ef;
}
.menu ul{
    display: inline-flex;
    margin: 50px;
}

.menu ul li{
    list-style:none;
    margin: 0 10px;
    color: #ba300e;
    cursor: pointer;
}
.logo img{
    width: 30px;
    margin-top: -5px;
    margin-right: 18px;
}
.active{
    color: #fa197a !important;
}
.signup-btn{
    top:40px;
    right: 80px;
    position: absolute;
    text-decoration: none;
    color: white;
    border: 4px solid transparent;
    border-radius: 30px;
    background-image: 
    linear-gradient(#eca7c9,#e4cf69),
    radial-gradient(circle at top left,#e92412,#19d7f8);
    background-origin: border-box;
    background-clip: content-box,border-box;
}
.signup-btn span{
    display: block;
    padding: 8px 22px;
}
.form{
    background-color: antiquewhite;
    position: relative;
    border : 3px solid wheat;
    width: 300px;
    float: left;
}
.banner{
    width: 80%;
    height: 70%;
    top:25%;
    left: 70px;
    position: absolute;
    color: #8de15c ;
}
.app-text{
    width: 50%;
    float: left;
}
.app-text h1{
    font-size: 43px;
    width: 640px;
    position: relative;
    margin-left: 30px;
}
.app-text p{
    width: 500px;
    font-size: 15px;
    margin: 20px 0 20px 30px;
    line-height: 25px;
    color: #d22222;

}
.app-picture{
    width: 40%;
    float: right;
    margin-right: -70px;
}
.app-picture img{
    width: 90%;
}