#container{
    height: 660px;
    background-color: rgb(230, 24, 144);
}
#header{
    height: 20%;
    background: royalblue;
    text-align: center;
}
#nav{
    height: 10%;
    background: brown;
    text-align: center;
}
#content{
    height:55%;
}
#main{
    height: 100%;
    width: 70%;
    text-align: center;
    background-color: darkkhaki;
    float: right;
}
#sidebar{
    height: 100%;
    width: 30%;
    text-align: center;
    float: right;
    background-color: chocolate;
}
#footer{
    height: 10%;
    text-align: center;
    background-color:aqua;
}