#container
{
    height : 660px;
    background-color: rgb(0,162,255);
}
#header
{
    height: 20%;
    background: rgb(220,55,0);
    text-align: center;
}
#nav
{
    height: 10%;
    background-color: rgb(165,42,101);
    text-align: center;
}
#sidebar
{
    height: 100%;
    width: 30%;
    text-align: center;
    float: right;
}